<div class="row justify-content-center mt-5">
  <div class="col-3">
    <form method="POST" action="/auth/login">
      <div class="row">
        <label class="form-label">Username:</label>
        <input
          class="form-control-lg"
          name="username"
          required
          value="<% if (typeof errorMessage !== 'undefined') { %><%= data.username %><% } %>"
        />
      </div>
      <div class="row">
        <label class="form-label">Password:</label>
        <input
          class="form-control-lg"
          type="password"
          name="password"
          required
        />
      </div>
      <div class="row justify-content-center mt-3">
        <button class="btn btn-outline-dark col-2" type="submit">Login</button>
      </div>
    </form>
  </div>
</div>

<% if (typeof errorMessage !== 'undefined') { %>
<p style="color: red"><%= errorMessage %></p>
<% } %>
