<div class="create-wrapper row justify-content-center">
  <div class="row justify-content-center align-items-center">
    <h1 class="col-4 text-center">Add a new Pokemon</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-3">
      <form action="/pokemon/create" method="POST" enctype="multipart/form-data">
        <div>
          <label class="form-label" for="name">POKEMON</label>
          <input class="form-control" type="text" name="name" placeholder="Name of pokemon" />
        </div>

        <div>
          <label class="form-label" for="url">IMG</label>
          <input class="form-control" type="file" name="url" placeholder="url of img" />
        </div>

        <div>
          <label class="form-label" for="type">TYPE</label>
          <select class="form-control" name="type">
            <% [ "Bug", "Dark", "Dragon", "Electric", "Fairy", "Fighting", "Fire", "Flying", "Ghost", "Grass", "Ground",
            "Ice", "Normal", "Poison", "Psychic", "Rock", "Steel", "Water" ].forEach(element => { %>
            <option value="<%- element %>"><%- element %></option>

            <% }) %>
          </select>

          <div>
            <label class="form-label" for="ability">ABILITY</label>
            <input class="form-control" type="text" name="ability" placeholder="ability" required />
          </div>
        </div>
        <div class="row justify-content-center mt-3">
          <button class="btn btn-danger mt-3 col-5" type="submit">Add Pokemon</button>
        </div>
      </form>
      <div class="login-signup-error">
        <% if (typeof message !== 'undefined') { %>
        <p style="color: red"><%= message %></p>
        <% } %>
      </div>
    </div>
  </div>
</div>
