<h1>Create</h1>

<div>
  <div>
    <h1>Add a new Pokemon</h1>
    <div>
      <form action="/pokemon/create" method="POST" enctype="multipart/form-data">
        <div><label for="name">POKEMON</label><input type="text" name="name" placeholder="Name of pokemon" /></div>

        <div><label for="url">IMG</label> <input type="file" name="url" placeholder="url of img" /></div>

        <div>
          <label for="type">TYPE</label>
          <select name="type">
            <% [ "Bug", "Dark", "Dragon", "Electric", "Fairy", "Fighting", "Fire", "Flying", "Ghost", "Grass", "Ground",
            "Ice", "Normal", "Poison", "Psychic", "Rock", "Steel", "Water" ].forEach(element => { %>
            <option value="<%- element %>"><%- element %></option>

            <% }) %>
          </select>

          <div>
            <label for="ability">ABILITY</label><input type="text" name="ability" placeholder="ability" required />
          </div>
        </div>
        <div><input type="submit" value="Add POKEMON" /></div>
      </form>
    </div>
  </div>
</div>

<% if (typeof message !== 'undefined') { %>
<p style="color: red"><%= message %></p>
<% } %>
