<div>
  <h2><%- pokemon.name %></h2>
  <img src="<%- pokemon.img %> " alt="" />
  <p><%- pokemon.type %></p>
  <p><%- pokemon.ability %></p>
</div>

<!-- <h2>Capture It</h2>

<div id="game-container">
  
  <button id="Charmander">Charmander</button>
  <button id="Squirtle">Squirtle</button>
  <button id="Bulbasaur">Bulbasaur</button>
 
  <div>
    <img id="player" src="/images/ash.png" alt="" />
    <img id="player-choice" src="" alt="" />
  </div>
  <div>
    <img id="computer" src="/images/team-rocket.png" alt="" />
    <img id="computer-choice" src="" alt="" />
  </div>

 
  <h1 id="result-text"></h1>
</div>

<script src="/js/game.js"></script> -->
