<!-- <button><a href="/auth/signup">Signup</a></button>
<br />
<br />
<button><a href="/auth/login">Login</a></button>
<br />
<br />
<button><a href="/main">main</a></button>
<br />
<br />
<button><a href="/private">Private</a></button>
<br />
<br />
<button><a href="/pokemon/create">create</a></button> -->

<div class="row justify-content-center mt-5">
  <div class="col-3">
    <img
      class="img-fluid rotate"
      src="https://www.freepnglogos.com/uploads/pokemon-symbol-logo-png-31.png"
      alt="pokemon logo"
    />
  </div>
</div>
<div class="row justify-content-center mt-4">
  <div class="col-3">
    <div class="d-grid gap-2">
      <a class="btn btn-outline-danger" href="/auth/signup">Sign Up</a>
      <a class="btn btn-outline-dark" href="/auth/login">Login</a>
    </div>
  </div>
</div>
