<div class="row justify-content-center index-wrapper">
  <div class="col-3">
    <img class="img-fluid rotate" src="../images/pokeball3.png" alt="pokemon logo" />
  </div>
  <div class="row justify-content-center log-sign-wrapper">
    <div class="col-3">
      <div class="d-grid gap-2">
        <a class="btn btn-danger" href="/auth/signup">Sign Up</a>
        <a class="btn btn-dark" href="/auth/login">Login</a>
      </div>
    </div>
  </div>
</div>
