body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* css variable */
  --bg-height: calc(100vh - 66px);
}

a {
  color: #00b7ff;
}

.login-wrapper {
  height: var(--bg-height);
  background-image: url(../images/pikabg.jpeg);
  background-size: cover;
}
.signup-wrapper {
  height: var(--bg-height);
  background-image: url(../images/signup3.webp);
  background-size: 40vw;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
}
.create-wrapper {
  height: var(--bg-height);
  background-size: cover;
  background-image: url(../images/addpoki.jpeg);
  background-repeat: no-repeat;
}
.main-wrapper {
  height: var(--bg-height);
  background-image: url(../images/gottacatchmain.png);
  background-size: 40vw;
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
}

.rotate {
  animation: rotation 5s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.pokedex-list {
  display: flex;
  flex-wrap: wrap;
}
.pokemon-card {
  margin: 20px;
  padding: 10px;
}
.animation:hover {
  transform: scale(1.1);
}
.animation {
  transition-duration: 0.3s;
  transition-property: transform;
}
.pokemon-card-buttons {
  display: flex;
  justify-content: space-between;
}
.pokemon-card-info h2 {
  margin: 10px 0;
  font-weight: bold;
  font-size: 18px;
}
.filter-wrapper {
  margin-left: 20px;
}
