body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}
html {
  height: 100%;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}
.mainbody {
  background-color: white;
  height: 100%;
}
.rotate {
  animation: rotation 5s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* body {
  background-image: url("/images/Pikachu-Wallpaper.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
} */
