body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}
.login-wrapper {
  height: 100vh;
  background-image: url(../images/pikabg.jpeg);
  background-size: cover;
}
.signup-wrapper {
  height: 100vh;
  background-image: url(../images/signup3.webp);
  background-size: 40vw;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
}
.create-wrapper {
  height: 100vh;
  background-size: cover;
  background-image: url(../images/addpoki.jpeg);
  background-repeat: no-repeat;
}
.main-wrapper {
  height: 100vh;
  background-image: url(../images/gottacatchmain.png);
  background-size: 40vw;
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
}

.rotate {
  animation: rotation 5s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* body {
  background-image: url("/images/Pikachu-Wallpaper.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
} */
